body {
    background-image: url(img.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profile, .complaints {
    margin-bottom: 40px;
}

.complaints-container {
    display: flex;
}

#complaint-type-list {
    list-style-type: none;
    padding: 0;
    width: 300px;
}

.complaint-type-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #b42508;
    cursor: pointer;
    position: relative;
}

.complaint-type-item:hover {
    background-color: #c29b9f;
}

.complaint-details {
    border: 1.5px solid #ca7178;
    background-color: #fae0a2;
    padding: 10px;
    max-width: 800px;
    width: max-content;
    height: auto;
    display: none;
    position: absolute;
    left: 320px;
    top: 10px;
    z-index: 10;
    border-radius: 10px;
    overflow: auto;
    box-sizing: border-box;
    flex-direction: column;
}

.complaint-details img {
    max-width: 80%;
    height: 150px;
    margin: 10px;

}

.raise-complaint {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-color: #1a0e0c;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    bottom: auto;
    right: auto;
}

.raise-complaint:hover {
    background-color: #45a049;
}
