body {
    font-family: Arial, sans-serif;
    background-image: url(road1.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 25px;
    background-color: #dee9f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #f7f5f5;
    border-radius: 5px;
  }
  
  small {
    color: #f12323;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #cccaeb;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }